.container {
    width: 1300px;
    height: 1000px;
    background: url(https://beiz.jp/images_L/sky/sky_00003.jpg) center center / cover no-repeat fixed;

}
.box2 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 0.5em 1em;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;
}